NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_sqCaR-QnTPSE2PVW3FmCtg_AKwBWJpN
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_PROTOMAPS_API_KEY=8a7fac1138679d93
